[project]
name = "llm-engineering-week2"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "gradio>=6.3.0",
    "groq>=0.37.1",
    "langchain-groq>=1.1.1",
]
